In [7]:
!pip install truth-table-generator

WARNING: You are using pip version 20.3.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\tanee\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: truth-table-generator in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (1.1.2)
Requirement already satisfied: jinja2 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (2.11.2)
Requirement already satisfied: tabulate in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: numpy in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (1.19.4)
Requirement already satisfied: PTable in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (0.9.2)
Requirement already satisfied: pandas in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (1.2.3)
Requirement already satisfied: pyparsing in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (2.4.7)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from jinja2->truth-table-generator) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from pandas->truth-table-generator) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from pandas->truth-table-generator) (2020.4)
Requirement already satisfied: six>=1.5 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)

In [ ]:
import ttg
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from sklearn.datasets import load_iris

import numpy as np
import matplotlib.pyplot as plt

In [35]:
datas = [{"group":"group0","AGE":"ANY",'disease':"ANY","hasCough":"ANY","hasFever":"ANY","tired":"ANY","hasCloser":"False","Travel":"False"},{"group":"group1","AGE":"ANY",'disease':"ANY","hasCough":"ANY","hasFever":"False","tired":"ANY","hasCloser":"True","Travel":"True"},{"group":"group1","AGE":"ANY",'disease':"ANY","hasCough":"False","hasFever":"True","tired":"False","hasCloser":"True","Travel":"True"}]

In [3]:
datas = [{"group":"group0","AGE":"ANY",'disease':"ANY","hasCough":"ANY","hasFever":"ANY","tired":"ANY","hasCloser":"False","Travel":"False","Relation":[["t1","t2","t5"]]},{"group":"group2","AGE":"ANY",'disease':"ANY","hasCough":"False","hasFever":"True","tired":"False","hasCloser":"True","Travel":"True","Relation":[["t1","t2","t5"]]}]

In [36]:
def checkOr(newDF2):
    arr = []
    for index, row in newDF2.iterrows():
        arr.append(row['hasCloser'] or  row['Travel'] )
    newDF2['hasCloserOrTravel']  = arr

#     newDF2['hasCloserOrTravel'] =  newDF2['hasCloser'] or newDF2['Travel']

In [37]:
import numpy as np
newDF = pd.DataFrame()
newDF2 = pd.DataFrame()
flag = False
cols2 = []
# mainCols = list(datas[0].keys())
# print(mainCols)
for data in datas:
    list2 = []
    Any = []
    notYet = []
    relation = []


    for i in data:
        if data[i] == 'ANY':
            Any.append(i)
        elif i != 'ANY' and i !=  "Relation" :
            notYet.append(i)
        elif i == "Relation":
            relation.append(data[i])
    truthTable = ttg.Truths(Any)
    df = truthTable.as_pandas()

    if flag == False:
        cols = df.columns
        cols = list(cols)
        cols = cols+notYet
#         print(cols)
        flag = True
        for arr in notYet:
            df[arr] = data[arr]
            head = list(df.columns)
    else:
        cols2 = df.columns
        cols2 = list(cols2)
        for i in cols:
            if i not in cols2:
                list2.append(i)
        for arr in list2:
            df[arr] = data[arr]
            head = list(df.columns)


    for i in notYet:
        colum = df.columns
    if len(relation) > 0:
        for i in range(len(relation)):
            for idxJ, j in enumerate(relation[i]):

                head = head +j

                listDF = df.to_numpy()
                newList = []
                for idxK, k in enumerate(listDF):
#                     print(listDF)
                    for idx, val in enumerate(j):
                        for idxM, m in enumerate(j):
                            if idx == idxM:
                                newList.append("True")
                            else :
                                newList.append("False")
#                         print(k)
                        newList = np.append(k,newList)
                        if newDF2.empty:
                            newDF2 = pd.DataFrame([newList], 
                         columns=[head])
                        else :
                            newDF2.loc[len(newDF2)]=newList
                        newList = []
    else:
        if newDF2.empty:
            newDF2 = df
        else:
            newDF2 = newDF2.append(df,ignore_index=True)
        
checkOr(newDF2)

In [38]:
newDF2

,AGE,disease,hasCough,hasFever,tired,group,hasCloser,Travel,hasCloserOrTravel
0,1,1,1,1,1,group0,False,False,False
1,1,1,1,1,0,group0,False,False,False
2,1,1,1,0,1,group0,False,False,False
3,1,1,1,0,0,group0,False,False,False
4,1,1,0,1,1,group0,False,False,False
5,1,1,0,1,0,group0,False,False,False
6,1,1,0,0,1,group0,False,False,False
7,1,1,0,0,0,group0,False,False,False
8,1,0,1,1,1,group0,False,False,False
9,1,0,1,1,0,group0,False,False,False
10,1,0,1,0,1,group0,False,False,False
11,1,0,1,0,0,group0,False,False,False
12,1,0,0,1,1,group0,False,False,False
13,1,0,0,1,0,group0,False,False,False
14,1,0,0,0,1,group0,False,False,False
15,1,0,0,0,0,group0,False,False,False
16,0,1,1,1,1,group0,False,False,False
17,0,1,1,1,0,group0,False,False,False
18,0,1,1,0,1,group0,False,False,False
19,0,1,1,0,0,group0,False,False,False
20,0,1,0,1,1,group0,False,False,False
21,0,1,0,1,0,group0,False,False,False
22,0,1,0,0,1,group0,False,False,False
23,0,1,0,0,0,group0,False,False,False
24,0,0,1,1,1,group0,False,False,False
25,0,0,1,1,0,group0,False,False,False
26,0,0,1,0,1,group0,False,False,False
27,0,0,1,0,0,group0,False,False,False
28,0,0,0,1,1,group0,False,False,False
29,0,0,0,1,0,group0,False,False,False
30,0,0,0,0,1,group0,False,False,False
31,0,0,0,0,0,group0,False,False,False
32,1,1,1,False,1,group1,True,True,True
33,1,1,1,False,0,group1,True,True,True
34,1,1,0,False,1,group1,True,True,True
35,1,1,0,False,0,group1,True,True,True
36,1,0,1,False,1,group1,True,True,True
37,1,0,1,False,0,group1,True,True,True
38,1,0,0,False,1,group1,True,True,True
39,1,0,0,False,0,group1,True,True,True
40,0,1,1,False,1,group1,True,True,True
41,0,1,1,False,0,group1,True,True,True
42,0,1,0,False,1,group1,True,True,True
43,0,1,0,False,0,group1,True,True,True
44,0,0,1,False,1,group1,True,True,True
45,0,0,1,False,0,group1,True,True,True
46,0,0,0,False,1,group1,True,True,True
47,0,0,0,False,0,group1,True,True,True
48,1,1,False,True,False,group1,True,True,True
49,1,0,False,True,False,group1,True,True,True
50,0,1,False,True,False,group1,True,True,True
51,0,0,False,True,False,group1,True,True,True

In [39]:
newDF2 = newDF2.replace("True", 1)
newDF2 = newDF2.replace("False", 0)
# newDF2newDF2 = newDF.replace("group0", 0)
newDF2 = newDF2.replace("group0", 0)
newDF2 = newDF2.replace("group1", 1)
newDF2 = newDF2.replace("group2", 2)

In [40]:
newDF2.head(5)

,AGE,disease,hasCough,hasFever,tired,group,hasCloser,Travel,hasCloserOrTravel
0,1,1,1,1,1,0,0,0,0
1,1,1,1,1,0,0,0,0,0
2,1,1,1,0,1,0,0,0,0
3,1,1,1,0,0,0,0,0,0
4,1,1,0,1,1,0,0,0,0

In [41]:
import csv
with open('dataset4.csv', newline='',encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    dict1 = {}
    newList = []
    for row in reader:
        dict1['hasCloser'] = row['isCloseToCovid19Patient']
        dict1['disease'] = row['haveUnderlyingDisease']
        dict1['hasFever'] = row['haveFever']
        dict1['tired'] = row['haveTired']
        dict1['Travel'] = row['isTravelToCovid19Country']
        dict1['group'] = row['outcome']
        dict1['hasCough'] = row['haveCough']
        dict1['AGE'] = row['ageGroup']
        newList.append(dict1)
        dict1 = {}

In [42]:
df = pd.DataFrame.from_dict(newList)
df.head(5)

,hasCloser,disease,hasFever,tired,Travel,group,hasCough,AGE
0,FALSE,FALSE,TRUE,TRUE,TRUE,GROUP1p1,TRUE,OLD_ADULT
1,FALSE,FALSE,TRUE,TRUE,TRUE,GROUP1p1,TRUE,MIDDLE_AGED_ADULT
2,FALSE,FALSE,TRUE,TRUE,TRUE,GROUP1p1,TRUE,YOUNG_ADULT
3,TRUE,FALSE,TRUE,TRUE,TRUE,GROUP1p1,TRUE,YOUNG_ADULT
4,TRUE,FALSE,TRUE,TRUE,TRUE,GROUP1p1,TRUE,YOUNG_ADULT

In [43]:
df = df.replace("TRUE", 1)
df = df.replace("FALSE", 0)
df = df.replace("SENIOR", 1)
df = df.replace("OLD_ADULT", 1)
df = df.replace("MIDDLE_AGED_ADULT", 0)
df = df.replace("YOUNG_ADULT", 0)
df = df.replace("JUNIOR", 0)
df = df.replace("ELDER", 1)
df = df.replace("GROUP1p1", 4)
df = df.replace("GROUP1p2", 3)
df = df.replace("GROUP2", 2)
df = df.replace("GROUP3", 1)
df = df.replace("GROUP4", 0)

In [44]:
df[df['hasFever'] == ''].index

Int64Index([1521, 1522, 1523, 2400, 2401, 2402], dtype='int64')

In [45]:

df = df.drop([2403,1522, 1523, 2401, 2402,1524,1521,2400]).reset_index()

In [46]:
df.astype('int32').dtypes

index        int32
hasCloser    int32
disease      int32
hasFever     int32
tired        int32
Travel       int32
group        int32
hasCough     int32
AGE          int32
dtype: object

In [47]:
df = df.drop(['index'], axis='columns')

In [48]:
df

     hasCloser disease hasFever tired Travel group hasCough AGE
0            0       0        1     1      1     4        1   1
1            0       0        1     1      1     4        1   0
2            0       0        1     1      1     4        1   0
3            1       0        1     1      1     4        1   0
4            1       0        1     1      1     4        1   0
...        ...     ...      ...   ...    ...   ...      ...  ..
2697         0       0        0     0      0     0        0   0
2698         0       0        0     0      0     0        0   0
2699         0       0        0     1      0     0        0   0
2700         0       0        0     0      0     0        0   1
2701         0       0        0     0      0     0        0   1

[2702 rows x 8 columns]

In [49]:

arr = []
for index, row in df.iterrows():
    arr.append(row['hasCloser'] or  row['Travel'] )
df['hasCloserOrTravel']  = arr

#     newDF2['hasCloserOrTravel'] =  newDF2['hasCloser'] or newDF2['Travel']

In [50]:
df.head(5)

,hasCloser,disease,hasFever,tired,Travel,group,hasCough,AGE,hasCloserOrTravel
0,0,0,1,1,1,4,1,1,1
1,0,0,1,1,1,4,1,0,1
2,0,0,1,1,1,4,1,0,1
3,1,0,1,1,1,4,1,0,1
4,1,0,1,1,1,4,1,0,1

In [51]:
df = df.reindex(sorted(df.columns), axis=1)
newDF2 = newDF2.reindex(sorted(newDF2.columns), axis=1)

In [52]:
#SVM

In [53]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

from matplotlib import pyplot as plt
%matplotlib inline

In [54]:
df = df.reindex(sorted(df.columns), axis=1)
newDF2 = newDF2.reindex(sorted(newDF2.columns), axis=1)

In [55]:
y_train = newDF2.group
X_train = newDF2.drop(['group'], axis='columns')

In [56]:
X_test  = df.drop(['group'], axis='columns')
y_test = df.group

In [57]:
X_test['AGE'] = pd.Series(X_test['AGE'], dtype="int64")
X_test['Travel'] = pd.Series(X_test['Travel'], dtype="int64")
X_test['disease'] = pd.Series(X_test['disease'], dtype="int64")
X_test['hasCloser'] = pd.Series(X_test['hasCloser'], dtype="int64")
X_test['hasCough'] = pd.Series(X_test['hasCough'], dtype="int64")
X_test['hasFever'] = pd.Series(X_test['hasFever'], dtype="int64")
X_test['tired'] = pd.Series(X_test['tired'], dtype="int64")

In [58]:
y_test= pd.Series(y_test, dtype="int64")

In [59]:
model = SVC(kernel='linear')
model.fit(X_train, y_train)
print("accuracy DT train: {:.3f}".format(model.score(X_train, y_train)))

accuracy DT train: 1.000

In [65]:
predictions = model.predict(X_test)
print(predictions)

[1 1 1 ... 0 0 0]

In [67]:
from sklearn.metrics import confusion_matrix
res = confusion_matrix(y_test, predictions)
print("Confusion Matrix")
print(res)
# print(f"Test Set: {len(X_test)}")
# print(f"Accuracy = {percentage*100} %")

Confusion Matrix
[[2044    0    0    0    0]
 [   0  627    0    0    0]
 [   0   10    0    0    0]
 [   0    6    0    0    0]
 [   0   15    0    0    0]]

In [61]:
X_train

,AGE,Travel,disease,hasCloser,hasCloserOrTravel,hasCough,hasFever,tired
0,1,0,1,0,0,1,1,1
1,1,0,1,0,0,1,1,0
2,1,0,1,0,0,1,0,1
3,1,0,1,0,0,1,0,0
4,1,0,1,0,0,0,1,1
5,1,0,1,0,0,0,1,0
6,1,0,1,0,0,0,0,1
7,1,0,1,0,0,0,0,0
8,1,0,0,0,0,1,1,1
9,1,0,0,0,0,1,1,0
10,1,0,0,0,0,1,0,1
11,1,0,0,0,0,1,0,0
12,1,0,0,0,0,0,1,1
13,1,0,0,0,0,0,1,0
14,1,0,0,0,0,0,0,1
15,1,0,0,0,0,0,0,0
16,0,0,1,0,0,1,1,1
17,0,0,1,0,0,1,1,0
18,0,0,1,0,0,1,0,1
19,0,0,1,0,0,1,0,0
20,0,0,1,0,0,0,1,1
21,0,0,1,0,0,0,1,0
22,0,0,1,0,0,0,0,1
23,0,0,1,0,0,0,0,0
24,0,0,0,0,0,1,1,1
25,0,0,0,0,0,1,1,0
26,0,0,0,0,0,1,0,1
27,0,0,0,0,0,1,0,0
28,0,0,0,0,0,0,1,1
29,0,0,0,0,0,0,1,0
30,0,0,0,0,0,0,0,1
31,0,0,0,0,0,0,0,0
32,1,1,1,1,1,1,0,1
33,1,1,1,1,1,1,0,0
34,1,1,1,1,1,0,0,1
35,1,1,1,1,1,0,0,0
36,1,1,0,1,1,1,0,1
37,1,1,0,1,1,1,0,0
38,1,1,0,1,1,0,0,1
39,1,1,0,1,1,0,0,0
40,0,1,1,1,1,1,0,1
41,0,1,1,1,1,1,0,0
42,0,1,1,1,1,0,0,1
43,0,1,1,1,1,0,0,0
44,0,1,0,1,1,1,0,1
45,0,1,0,1,1,1,0,0
46,0,1,0,1,1,0,0,1
47,0,1,0,1,1,0,0,0
48,1,1,1,1,1,0,1,0
49,1,1,0,1,1,0,1,0
50,0,1,1,1,1,0,1,0
51,0,1,0,1,1,0,1,0